div input {
    /* Add your styling here */
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;

}

.submit-btn{
    z-index: 1001;
    background-color: #ccc !important;
}


button img {
    /* Add your styling here */
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

div{
    /* background-color: rgb(49, 4, 4); */
    height: 40px;
    width: 500px;
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;
    position: fixed; /* Fix the div in place */
    bottom: 50px;       /* Position it at the bottom */
    left: 550px;
    border-radius: 20px;       /* Move it horizontally to the center */
}


